{{!
	This file is part of Moodle - http://moodle.org/

	Moodle is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Moodle is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
	@template block_ranking_course/main
	Template purpose and description.

	Example context (json):
	{
		"users": [
			{
				"rank": 1,
				"fullname": "John Doe"
			}
		]
	}
}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>{{#str}}rank, block_ranking_course{{/str}}</th>
			<th>{{#str}}fullname, core{{/str}}</th>
		</tr>
	</thead>
	<tbody>
		{{#users}}
    <tr class="{{#iscurrentuser}}table-primary font-weight-bold{{/iscurrentuser}}">
        <td class="text-center">{{rank}}</td>
        <td>
            {{fullname}}
            {{#iscurrentuser}}
                <span class="badge badge-primary">{{#str}}you, block_ranking_course{{/str}}</span>
            {{/iscurrentuser}}
        </td>
    </tr>
    {{/users}}
    {{^users}}
    <tr>
        <td colspan="2" class="text-center">{{#str}}nousers, block_ranking_course{{/str}}</td>
    </tr>
    {{/users}}
	</tbody>
</table>